.pokemon-types{
    display:flex;
    justify-content: center;
}

.pm-type-string {
    margin: 5px;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: flex;
    flex-direction: column;
}
