.pokemon-overview{
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 1% 3%;
  overflow-y: auto;
}

.pokemon-thumbnail {
  flex-basis:auto;
  margin: 1%;
  transition:transform 0.15s ;
  /* border: thick double black; */
  background-color: slategrey;
  color:snow;
  border-radius: 10px;
  border: 5px solid slategrey;
}

.pokemon-thumbnail:hover {
  transform: scale(1.08);
  color:tomato;
}
