.pokemon-page {
    height: 5000px;
}

.pm-details {
    /* width: 100%; */
    margin-top: 100px;
}
.pm-details .pm-avatar {
    width: 300px;
    float: left;
}

.pokemon-info-basic {
    height: 220px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-width: 340px;
}

.info-left {
    float: left;
    height: auto;
    margin-right: 10px;
}
.pokemon-base-stats,.pokemon-train-breed, .pokemon-evo-chain {
    margin: 15px 0 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    background: white;
}

.pokemon-base-stats table td:nth-child(3n){
    width: 255px;
}
.pokemon-base-stats td{
    border: 1px solid black;
    border-radius: 5px;
}
.pokemon-base-stats div {
    height: 18px;
    background:#C9F0F5;
    border: 1px solid #C9F0F5;
    border-radius: 5px;
}

.pokemon-move-list {
    display: flex;
    height: 500px;
    min-width: 340px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.pokemon-evo-chain {
    height: 200px;
}
