.pokemon_list{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 1% 3%;
}

.pokemon_preview {
  flex-basis:auto;
  margin: 1%;
  transition:transform 0.15s ;
  /* border: thick double black; */
  background-color: slategrey;
  color:snow;
  border-radius: 10px;
  border: 5px solid slategrey;
}

.pokemon_preview:hover {
  transform: scale(1.08);
  color:tomato;
}
