.search-bar{
  outline-style: none;
  border-radius: 5px;
  border: 1px solid black;
  height: 25px;
  width: 300px;
  padding:5px;
}
.search-bar:focus{
  background: lightgreen;
  border: 1px solid red;
}