* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background: lightsteelblue;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

/* header */
.header a {
  text-decoration: none;
  text-align: center;
}

.top-navi {
  height: 43px;
  background: url(img/nav2.jpg) repeat-x left bottom;
  padding-left: 10px;
}
.top-navi ul li {
  float: left;
  list-style: none;
  line-height: 43px;
  font-size: 15px;
}
.top-navi a{
  display: block;
  padding: 0 15px;
  color: #000;
}
.top-navi ul li a:hover {
  color: white;
  background: url(img/nav1.jpg);
}

.side-navi {
  width: 4%;
  position: fixed ;
  right: 0;
  top: 20%;
}
.side-navi a {
  color: white;
  display: block;
  font-size: 20px;
  border: 1px solid black;
  background: red;
  margin-bottom: 5px;
}
/* .side-navi a:nth-last-child(1) {
  border-bottom:1px solid black !important;
} */


/* pokeball */
.pokeball {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  top: 0;
}
.pokeball div {
  height: 100px;
  width: 200px;
}
.upside {
  background: red;
  border-radius: 50px 50px 0 0;
  border-bottom: 5px solid black;
}
.downside {
  background: white;
  border-radius: 0 0 50px 50px;
  border-top: 5px solid black;
}

.pokeball span {
  display: flex;
  width: 50px;
  height: 50px;
  background: white;
  border: 10px solid black;
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 20px);
}

.pokemon_list{
  position: relative;
}
.pm_info {
  float: left;
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
  transition:0.25s transform 0.25s ease-out;
}
.pm_info a {
  color: gray;
  transition: 0.5s;
}
.pm_info:hover {
  transform: scale(1.08);
}
.pm_info:hover a {
  color: lightcoral;
}
p.capitalize {
  text-transform: capitalize;
}



/* overlay styles, all needed */
.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(100,0,25,1);
  z-index: 10;
}

.pm_info_full {
  position: fixed;
  width: 100%;
  height: 95%;
  top: 5%;
  overflow-y: auto;
  background-color: rgba(241,196,15,1);
  border-radius: 20px;
  z-index: 11; /* 1px higher than the overlay layer */
}
.pm_info_full table {
  margin: auto;
  font-size: 15px;
  line-height: 20px;
}
.pm_info_full td {
  text-align: left;
  padding-bottom: 10px;
}
.pm_info_full td:first-child {
  text-align: right;
  padding-right: 50px;
} 

.pm_info_full img {
  padding-top: 20px;
  padding-bottom: 20px;
  transform: scale(2.5);
}

.moves {
  width: 100%;
}
.moves p {
  font-size: 15px;
  border: 1px dashed gray;
}


@media screen and (max-width:1024px){
  .pm_info {
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
  }
  .side-navi {
    width: 50px;
  }
  .side-navi a {
    font-size: 20px;
  }
}
@media screen and (max-width:768px){
  .pm_info {
    width: 13%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
  }
  .side-navi {
    width: 50px;
  }
  .side-navi a {
    font-size: 20px;
  }
}
@media screen and (max-width:640px){
  .pm_info {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  .side-navi {
    width: 30px;
  }
  .side-navi a {
    font-size: 12px;
  }
  .pokeball {
    display: none;
  }
}
