* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background: lightsteelblue;
  overflow-x: hidden;
}
.pokeball {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  top: 0;
}
.pokeball div {
  height: 100px;
  width: 200px;
}
.upside {
  background: red;
  border-radius: 50px 50px 0 0;
  border-bottom: 5px solid black;
}
.downside {
  background: white;
  border-radius: 0 0 50px 50px;
  border-top: 5px solid black;
}

.pokeball span {
  display: flex;
  width: 50px;
  height: 50px;
  background: white;
  border: 10px solid black;
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 20px);
}

.pokemon_list{
  position: relative;
}
.pm_info {
  float: left;
  width: 20%;
  height: 80px;
  margin: 50px auto;
  
}

/* overlay styles, all needed */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(100,0,25,1);
  z-index: 10;
}

.pm_info_full {
  width: 96%;
  height: 96%;
  position: fixed;
  top: 2%; 
  left: 4%;
  background-color: rgba(241,196,15,1);
  border-radius: 20px;
  /* text-align: center; */
  z-index: 11; /* 1px higher than the overlay layer */
  transition: 5s;
}
.pm_info_full table {
  margin: auto;
  font-size: 15px;
  line-height: 20px;
}
.pm_info_full td {
  text-align: left;
  padding-bottom: 10px;
}
.pm_info_full td:first-child {
  text-align: right;
  padding-right: 50px;
} 

.pm_info_full img {
  padding: 80px;
  transform: scale(3);
}

@media screen and (max-width:1024px){
  .pm_info {width: 25%;}
}
@media screen and (max-width:768px){
  .pm_info {width: 33%;}
}
@media screen and (max-width:640px){
  .pm_info {width: 50%;}
}
